nav#menu
  .inner
    h2 Menu
    ul.links
      li
        a(href='/') Home
      li
        a(href='/lpm') LPM
      li
        a(href='/irm-gb') IRM GB
      li
        a(href='/irm-a') IRM A
      li
        a(href='/stasiun') Download
      //- li
      //-   a(href='#') Log In
      //- li
      //-   a(href='#') Sign Up
    a.close(href='#') Close