nav#menu
  .inner
    h2 Menu
    ul.links
      li
        a(href='index.html') Home
      li
        a(href='generic.html') Generic
      li
        a(href='elements.html') Elements
      li
        a(href='#') Log In
      li
        a(href='#') Sign Up
    a.close(href='#') Close